* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
  color: #000;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}

body {
  min-width: 393px;
  max-width: 786px;
  margin: 0 auto;
  font-family: "Pretendard-Regular";
  letter-spacing: -1px;
}

img,
video {
  max-width: 100%; /* 이미지와 비디오가 화면 너비를 초과하지 않도록 설정 */
  height: auto;
}

#login-container {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
}

/* 로고 */
.logo {
  color: #e00;
  font-weight: bold;
  font-family: "Karantina", system-ui;
  font-weight: 700;
  font-style: normal;
  text-shadow: 5px 5px 3px #ddd;
  font-size: 70px;
  margin: 50px 0 100px 0;
}

/* 입력 필드 */
.input-field {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #2b2b2b;
  color: #2b2b2b;
  margin-bottom: 15px;
  font-size: 16px;
  font-family: "Pretendard-Regular";
  letter-spacing: -1px;
}

/* 로그인 버튼 */
.login-btn {
  width: 100%;
  padding: 10px;
  background: #2b2b2b;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  margin: 0 0 15px 0;
  cursor: pointer;
  font-family: "Pretendard-Regular";
  letter-spacing: -1px;
}

/* 옵션 텍스트 영역 */
.options {
  font-size: 13px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.options span {
  color: #2b2b2b;
}

.options:hover {
  cursor: pointer;
}

.checkbox {
  display: flex;
  align-items: center;
  gap: 7.5px;
}

/* 간편 로그인 타이틀 */
#sns-login {
  width: 100%;
  margin-top: 30px;
}

.sns-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 25px;
  color: #2b2b2b;
}

/* 간편 로그인 아이콘 정렬 */
#sns-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 20px;
  cursor: pointer;
}

.sns-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.sns-item img {
  width: 70px;
  height: 70px;
  border-radius: 50px;
}

.sns-label {
  font-size: 15px;
  font-weight: bold;
  color: #2b2b2b;
}

/* 회원가입 버튼 */
#signup-btn {
  width: 100%;
  padding: 14px;
  background-color: #3500af;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 30px;
  position: relative;
}

#signup-btn::before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #fff;
  position: absolute;
  top: -16px;
  left: 0;
}

.spacebox {
  width: 100%;
  height: 140px;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: 768px;
  height: 65px;
  display: flex;
  flex-direction: column;
  z-index: 20;
  background-color: #2b2b2b;
}

/* 
footer .play {
  display: flex;
  align-items: center;
  width: 393px;
  height: 65px;
  border-bottom: 1px solid #555;
}

footer .play span {
  color: #999;
  position: absolute;
  left: 26px;
}

footer .play .button {
  background-color: transparent;
  position: absolute;
  right: 25px;
  display: flex;
  gap: 20px;
}

footer .play .button i {
  font-size: 20px;
  color: white;
} */

footer .menu {
  width: 100%;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer .menu > div {
  width: 150px;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer .menu > div i {
  color: white;
  font-size: 25px;
}
